.menuTable [class^=ant-table-body] {
  margin: 0px !important;
}

.menuTable [class^=ant-table-row-expand-icon] {
  float: left;
}
.menuTable [class^=ant-table-row-indent] {
  padding-left: 0px !important;
}

.menuTable table thead tr th {
  background: #7d99ec !important;
  height: 20px !important;
  padding: 0.1% 0.1%;
}

.menuTable table tbody tr td:nth-child(3),
.menuTable table tbody tr td:nth-child(4),
.menuTable table tbody tr td:nth-child(5) {
  text-align: left !important;
}

.modal [class^=ant-modal-body] {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.menuDrawer [class^=ant-drawer-body] {
  padding: 0px !important;
}

.menuDrawerDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menuDrawerModalDiv {
  flex: 1;
  margin-top: 20px;
}

.menuDrawerTreeDiv {
  flex: 50;
  display: flex;
  margin-left: 20px;
}

.menuDrawerFooterDiv {
  flex: 1;
  position: absolute;
  bottom: 10px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  text-align: center;
  padding: 20px 0px 0px 0px;
}
