.drawer [class^=ant-drawer-content-wrapper]{
  margin-top: 3.3%;
  background-color: #f9f9f9;
}

.drawer [class^=ant-drawer-header]{
  background: #f9f9f9;
}

.drawer [class^=ant-drawer-content]{
  background: #f9f9f9;
}

.drawer div [class^=ant-drawer-body] {
  background: #f9f9f9;
}

.draftEditorDiv {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.draftEditorDiv [class^=bf-content] {
  height: 300px !important;
}

.messageTitle {
  cursor: pointer;
  font-weight: 500;
}

.messageTitle:hover {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.operator {
  color: #44ef44;
}

.loadMoreDiv {
  cursor: pointer;
  text-align: center;
  background: #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listDiv {
  //border: 1px solid #e8e8e8;
  margin-top: 15px;
  //padding: 0px 15px 15px 15px;
}

.listPagationDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listPagation {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 8px 0px 8px 0px;
}

.listPagationA {
  flex: 1;
  display: flex;
}

.listPagationB {
  display: flex;
  margin-right: 8px;
}

.listContainer {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 350px;
}

.formRowDiv > div > div:first-child {
  margin-bottom: 13px !important;
}
