.noficationPane {
  border: 1px solid #e8e8e8;
  box-shadow: -2px 0 8px #e8e8e8;
  margin-top: -8px;
  background: #ffffff;
}

.tabTitle [role="tab"] {
  padding: 12px 30px 0px 30px !important;
  border: 0px !important;
  height: 47px !important;
}

.tabTitle [class^=ant-tabs-ink-bar] {
  visibility: visible !important;
}

.tabTitle [class^=ant-tabs-nav-container] {
  border-bottom: 1px solid #e8e8e8 !important;
  height: 47px !important;
}

.tabTitle [class^=ant-tabs-bar] {
  margin: 0 0 0 0 !important;
}

.noticeTabButton {
  border-top: 1px solid #e8e8e8;
  cursor: pointer;
  background: #fafafa;
}

.noticeTabClear {
  position: absolute;
  display: inline-block;
  width: 50%;
  transition: all .3s;
  line-height: 46px;
  text-align: center;
}

.noticeTabClear:hover {
  cursor: pointer;
  background: #ffffff;
}

.noticeTabMore {
  display: inline-block;
  width: 50%;
  transition: all .3s;
  border-left: 1px solid #e8e8e8;
  line-height: 46px;
  text-align: center;
  margin-left: 186px;
}

.noticeTabMore:hover {
  cursor: pointer;
  background: #ffffff;
}

.tabul {
  list-style: none;
  margin: -5px 0px -1px -50px;
}

.tabli {
  line-height: 40px;
  border-bottom: 1px solid #E8E8E8;
  padding: 0px 0px 0px 25px;
}

.noficationIcon {
  color: red;
  margin-right: 10px;
  font-size: 20px;
}

.todoStatus {
  margin-right: 15px;
  float: right;
}

.todoTime {
  margin-top: -20px;
}

.emptyDiv {
  padding: 15px 0px 10px 0px !important;
}
