.listTable table thead tr th {
  background-color: #f1f1f1 !important;
  text-align: center;
  padding: 11px !important;
}

.listTable table tbody tr td {
  text-align: center;
  padding: 11px !important;
}

.listTable table tbody tr:first-child td {
  text-align: center;
  padding: 0px !important;
}

.divEditor {
  border: 1px solid #dddddd;
}

.editorPlane {
  height: 400px !important;
  overflow-y: auto;
  border: 1px solid #dddddd;
}

.menuDrawer [class^=ant-drawer-content-wrapper] {
  right: -20px !important;
  top: -20px !important;
  height: 104% !important;
}

.menuDrawer [class^=ant-drawer-body] {
  padding: 20px 20px 20px 20px !important;
}

.subTable table thead tr th {
  background-color: #f1f1f1 !important;
  text-align: center;
  padding: 11px !important;
}

.subTable table tbody tr td {
  text-align: center;
  padding: 7.5px !important;
}

.subTable_edit table thead tr th {
  background-color: #f1f1f1 !important;
  text-align: center;
  padding: 11px !important;
}

.subTable_edit table tbody tr td {
  text-align: center;
  padding: 7.5px !important;
}
