.logContent {
  color: #fff;
  cursor: pointer;
  font-size: 120%;
  margin-left: 10px;
  vertical-align: top;
}

.trigger {
  font-size: 120%;
  line-height: 0px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
  padding-top: 139%;
}

.trigger:hover {
  color: #1890FF;
}

.collapseDiv {
  height: 55px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}

.menu [role=menuitem], [class^=ant-menu-dark] {
  height: 60px;
  line-height: 60px !important;
}

.changeTheme > li {
  width: 176px
}

.paneTab {
  height: 100% !important;
}

.paneTab [class^=ant-tabs-content] {
  height: 100% !important;
  margin-top: -8px !important;
  margin-bottom: -3.5px !important;
}

.paneTab [class^=ant-tabs-tabpane] {
  height: 100% !important;
}

.paneTab [class^=ant-tabs-nav] {
  height: 30px !important;
  border-bottom: 1px solid #0e0e0e00;
}

.paneTab [role="tab"] > div {
  margin-top: -5px !important;
}

.paneTab [class^=ant-tabs-extra-content] {
  margin-top: 0px !important;
  border: solid #aeb3b75c 1px;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px;
}

.gapTab {
  height: 100% !important;
}

.gapTab [class^=ant-tabs-tabpane] {
  height: 100% !important;
}

.gapTab [class^=ant-tabs-content] {
  height: 100% !important;
}

.gapTab [class^=ant-tabs-extra-content] {
  float: right;
  height: 40px;
  background: #e8e8e88a;
}

.distanceDiv [role="tablist"] {
  margin: 0 0 0 0 !important;
}

.siderDiv [class^=ant-layout-sider] {
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.menuToolBarli {
  margin-right: 20px;
}

.menuToolBarli [class^=anticon] {
  line-height: 0 !important;
}

.menuToolBarliMessage {
  margin-right: 18px;
}

.menuToolBarliMessage [class^=anticon] {
  line-height: 0 !important;
}

.messageToolTip > div > div, .messageToolTip > div > div {
  margin-top: -16px !important;
}

.messageToolTipA > div > div, .messageToolTipA > div > div {
  margin-top: 18px !important;
}
